<h1>The best weather on earth</h1>

<app-city-form *ngIf="cities"
               [cities]="cities"
               (getWeather)="onGetWeather($event)">
</app-city-form>

<div *ngIf="citiesWeather"
     class="cities-weather-summary">
    <h2>Cities with the best weather</h2>
    <div class="list-wrapper">
        <app-city-weather *ngFor="let weather of citiesWeather; let i = index"
                          [cityWeather]="weather"
                          [index]="i">
        </app-city-weather>
    </div>
</div>
