$grey: #e6e6e6;

:host {
  display: block;
  border: 1px solid $grey;
  border-radius: 5px;
  overflow: hidden;
}

.weather-summary {
  .city {
    font-weight: bold;
    background-color: $grey;
    padding: 10px;

    .index {
      font-size: 20px;
      margin-right: 10px;
    }
  }

  .details {
    margin: 10px;
  }

  .description-wrapper {
    margin: 0 10px 10px;
    display: inline-flex;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: $grey;

    .description {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid #666;

      &:last-child {
        margin-right: unset;
        padding-right: unset;
        border-right: unset;
      }

      img, span {
        display: block;
        margin: 0 auto;
      }
    }
  }

}
