<h3>Select cities</h3>
<div class="city-select">
    <div *ngFor="let city of citiesCheckList"
         class="city">
        <input type="checkbox" [(ngModel)]="city.checked">
        <span class="name">{{city.name}}, {{city.country}}</span>
    </div>
</div>

<h3>Select Gender</h3>
<div class="gender-select">
    <label *ngFor="let genderOption of genderOptions">
        <input type="radio"
               name="options"
               (click)="gender = genderOption"
               [checked]="genderOption === gender">
        <span>{{genderOption}}</span>
    </label>
</div>

<button (click)="onGetWeatherClick()">
    Get Weather
</button>
